body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    color: black;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items:center;
    justify-content: space-around;
}

nav ul li {
    padding: 0 .5rem;
}

nav a {
    text-decoration: none;

    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    Font-size: 1.2rem;
}

.socials img {
    width: 2.5rem;
}

main, footer {
    position: relative;
    top: 4.0625rem;
}

.splash {
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255, 1)), url('images/luca-bravo-ESkw2ayO2As-unsplash.jpg');
    background-size: cover;
    background-position-y: bottom;
}

.credit {
    font-size: .5rem;
    text-align: right;
    padding-right: 5%;
}

h1 {
    font-family: 'Ovo', serif;
    font-size: 6rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
}

h2 {
    font-family: 'Ovo', serif;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 4rem;
    color:gray;
    
}

.readers-only {
    display: none;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
    padding: 5rem 0 2rem 0;

}

.splash H1 {

}

.splash img {
    display:block;
    margin: auto;
    padding-top: 2rem;
    height: 25vh;
}

.mission-intro {
    font-family: 'Ovo', serif;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    padding: 3rem 0 2rem 0;
}

.wordsmiths img {
    height: 100px;
}