:root {
    --photo-height: 30vh;
}
body {
    
    background-color: white;
    color: black;
    font-family: 'Mukta', sans-serif;

}

.clickable {
   transition: all .5s ease-out;
}

.clickable:hover, .clickable:focus {
    font-size: 1.5rem;
    transition-duration: .5s;
}

.clickable:active {
    color: white;
    transition:none;
}

.hidden {
    /*display: none;*/
}

nav {
    position: fixed;
    z-index: 2;             
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items:center;
    justify-content: space-around;
}

nav ul li {
    padding: 0 .5rem;
}

nav a {
    text-decoration: none;
    color: darkgreen;
   
    
    font-weight: 700;
    Font-size: 1.2rem;
}

.socials img {
    width: 2.5rem;
}

main, footer {
    position: relative;
    top: 4.0625rem;
}

.splash {
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255, 1)), url('images/luca-bravo-ESkw2ayO2As-unsplash.jpg');
    /* filter: grayscale(75%); */
    background-size: cover;
    background-position-y: bottom;
}



h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 6rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
}

h2 {
    
    font-family: 'Source Serif Pro', serif;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 4rem;
    color:darkgray;
    
}

.readers-only {
    display: none;
}

h3 {
    overflow:hidden;
    text-align:left;
    margin: 2rem 2rem 3rem 4rem;
    
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
  
}

h3 > span {
    position: absolute;
    display: inline-block;
    margin-left: 2rem;
}

h3 > span:before, h3 > span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100vw;
    margin: 0rem 1.5rem;
}

h3 > span:before {
    right: 100%;
}

h3 > span:after {
    left: 100%;
}

@media only screen and (max-width: 400px) {
   h3 {
       font-size: 1.2rem;
   }
}

.splash img {
    display:block;
    margin: auto;
    padding-top: 2rem;
    height: 25vh;
}

.mission-intro {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    padding: 3rem 0 2rem 0;
}

.services {
  margin: 0 1rem 0 1rem;  
  display: flex;
  
  justify-content:space-around;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.services>div {
  height: 25vh;  
  width:400px;
  min-width: 16.25rem;
  min-height: 20rem;
  border-radius: 10px;
  margin-top: 20px;

}

@media screen and (max-width: 432px) {
    .services>div {
        height: 30vh;  
        width:100%;
        min-width: 260px;
     
      }

}

.services-text {
    background: rgba(255,255,255, .9);
    color: black;
    font-size: 2rem;
    margin: 2rem 2rem 0rem 2rem;
    text-align:left;
    padding-left: 1rem;
    border-radius: 10px 10px 0px 0px;   
}    

.services-description {
    border-radius: 0px 0px 10px 10px;
    padding: 1rem 1rem 1rem 1rem;

    background: rgba(255,255,255, .9);
    font-size: 1.2rem;
    margin: 0rem 2rem 1rem 2rem;
    overflow:scroll;
}

#seo {
  background-image: url("images/seo.jpg");
  background-size: cover;
}

#newsletter {
    background-image: url("images/newsletter.jpg"); 
    background-size: cover;
}

#blog {
    background-image: url("images/blog.jpg"); 
    background-size: cover;
}

#content {
    background-image: url("images/websitecontent.jpg"); 
    background-size: cover;
}


.wordsmiths {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    margin-top: 2rem;
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255, .1)), grey;
    /* filter: grayscale(75%); */
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.smith {
    padding: 0rem 2rem 2rem 2rem;
    display:flex;
    flex-wrap:nowrap;
}

@media only screen and (max-width:600px) {
    .smith {
        flex-wrap: wrap;
        justify-content:center;
    }
}

.smith-name {
    margin-bottom: 1rem;
    font-size: 1.2rem; 
    font-weight: 700;

}

.smith-info {
    padding: 1rem 2rem 1rem 1rem;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 50rem;
    min-width:10rem;


}

.smith-pic {
    
    order: -1;
    height: var(--photo-height);
    filter: grayscale(100%);
    box-shadow:
        inset 0 -3rem 3rem rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3rem 0.3rem 1rem rgba(0,0,0,0.3);
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem 0 2rem;
    height: 4rem;
    flex-wrap: wrap;
}


.email {
    text-transform: lowercase;
    text-decoration: none;
    color: darkgreen;
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.email img {
    width: 2.5rem;
    display: inline;
    padding-right: .5rem;
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem 0 2rem;
    height: 4rem;
 
}

.socials div {
    padding: 0rem .5rem 0 .5rem;
    
}

@media only screen and (max-width: 550px) {
    .socials {
        justify-content: center;
        padding: 1rem 2rem 2rem 2rem;
    }

    .email {
        justify-content: center;
    }
}



.credit {
    font-size: .75rem;
    margin-left: 1rem;
    padding-right: 2.5 rem;
    color: black;
}

.credit a {
    color:black;
}

.credit a:visited {
    color:black;
}

.email-credit {
        font-size: 1rem;
        color: black;
        margin-left: 1rem;
    }
    
    .email-credit a {
        color:black;
    }
    
    .email-credit a:visited {
        color:black;
    }
    


  